workspace.ipynb
venv
configurations
Airtable 050522-Grid 2.csv
analysis.ipynb
data_viz_proj.ipynb
analysis
.streamlit
sample_data
__pycache__

.env
.devcontainer/devcontainer.json
.gitignore
.ipynb_checkpoints/workspace-checkpoint.ipynb
.vscode/settings.json